@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Titillium Web", sans-serif;
}

html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: white;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #264653;
  align-items: center;
  padding: 5px 25px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 40px;
}

.enlaces {
  display: flex;
  padding-right: 40px;
}

.enlaces li a {
  margin: 0 8px;
  padding: 3px 8px;
  font-size: 22px;
  border-radius: 8px;
  color: #edf6f9;
}

.enlaces li a:hover {
  background-color: #2a9d8f;
  transition: 0.5s;
}

/* Portada */

.portada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a9d8f;
  height: 100vh;
}

.texto {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 70px;
  font-weight: bold;
  color: #edf6f9;
}

.descripcion {
  padding-top: 15px;
  font-size: 30px;
  font-weight: 600;
  color: #edf6f9;
}

.imagen {
  padding: 0 80px;
}

.imagen img {
  width: 500px;
}
